page-login {
    .logotipo {
        display: block;
        margin: 15px auto;
    }
    .btn-entrar {
        background: linear-gradient(to right, rgba(64,191,255,1) 0%, rgba(133,222,255,1) 100%);
    }
}
