page-map {
  ion-fab {
    .button-md {
      background: #40C0FF;
    }
  }

  agm-map {
    width: 100%;
    height: 100%;
  }
  ion-footer {
    ion-row {
      ion-col {
        ion-icon {
          color: #fff;
        }
      }
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
      background: #40C0FF;
    }
    text-align: center;
  }
}
