ion-menu {
  ion-header {
    background-image: url('../assets/imgs/material-design-background.jpg');
    height: 150px;
    margin-bottom: 10px;

    ion-item {
      background: transparent !important;
      .circle {
        background-color: #0d725c;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        h5 {
          position: absolute;
          top: 50%;
          left: 49%;
          transform: translate(-50%, -50%);
          font-size: 1.8rem;
          color: #ffffff;
        }
      }
    }

    .item-inner {
      border: none !important;
    }

    h2 {
      color: #fff;
      font-weight: bold;
    }

    p {
      color: #eee !important;
    }
  }
}
