<ion-header>
  <ion-navbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let rs of requestJoinServices">
    <ion-card-header>
      {{rs.valorPedido}}
    </ion-card-header>
    <ion-card-content>
      <h2><strong>{{rs.descricaoServico}}</strong></h2> <br>
      R$ {{rs.dataPedido}} <br>
      <div padding *ngIf="!rs.confirmadoPedido" (click)="confirm(rs)">
        <button ion-button block>Confirmar</button>
      </div>
      </ion-card-content>
    </ion-card>
</ion-content>
